.section--about-me {
    background: $white;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.section--about-me-two-col {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section--about-me-portrait {
    max-width: 480px;
    img {
    max-width: 420px;
    max-height: 480px;
    }
}

.section-about-me--text {
    max-width: 730px;
    .section--sub-heading {
        font-weight: 600; 
    }
    button {
        margin-top: 10px;
    }
}

.general-body span {
    font-weight: 500;
}



