.section--about-me {
    background: $white;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.section--about-me-two-col {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section--about-me-portrait {
    max-width: 480px;
    img {
    max-width: 410px;
    max-height: 480px;
    }
}

.section-about-me--text {
    max-width: 720px;
    .section--sub-heading {
        font-weight: 600; 
    }
    // button {
    //     margin-top: 10px;
    // }
    .temporary {
        margin-bottom: 30px;
    }
}

.general-body span {
    font-weight: 500;
}

// media queries

@media (max-width: 1206px) {
   .section--about-me-portrait {
       margin-top: 60px;
       margin-left: 25px;
       img {
       max-width: 330px;
       }
    } 
     .section-about-me--text  {
        max-width: 60%;
        margin-right: 25px;
        margin-left: 20px;
    }
}

@media (max-width: 1014px) { 
    .section-about-me--text  {
        max-width: 80%;
        text-align: center;
    }
    .section--about-me-portrait {
        margin-top: 10px;
    }
}

@media (max-width: 619px) { 
    .section--about-me-portrait {
        img {
            max-width: 300px;
        }
    }
}

@media (max-width: 420px) { 
    .section--about-me-portrait {
        img {
            max-width: 250px;
        }
    }
}



