.section--about-me {
    background: $white;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.section--about-me-two-col {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section--about-me-portrait {
    max-width: 480px;
    img {
    max-width: 410px;
    max-height: 480px;
    }
}

.section-about-me--text {
    max-width: 720px;
    .section--sub-heading {
        font-weight: 600; 
    }
    button {
        margin-top: 10px;
    }
}

.general-body span {
    font-weight: 500;
}

// media queries

@media (max-width: 730px) { 
    .section-about-me--text  {
        max-width: 640px;
    }
    .section--about-me-portrait {
        margin-top: 10px;
    }
}



