.section--contact-me {
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.section--contact-form, .section--contact-form-name-email{
    display: flex;
    justify-content: center;
    form {
        width: 80%;
    }
}

input, textarea {
    padding-left: 20px;
    border: 1px solid darken($white, 10);
}

.section--contact-form-top {
    width: 50%;
    height: 40px;
}

.form--name {
    margin-right: 20px;
}

button {
    margin-top: 20px;
}

textarea {
    overflow:hidden; 
    resize:none;
    min-width: 100%;
    padding-bottom: 200px;
    margin-top: 20px;
    padding-top: 20px;
    overflow-y: scroll;
}

.section--contact-form {
    img {
        max-width: 17px;
    }
}

.section--contact-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        color: $teal;
        @include font-size-value(18);
        font-family: $ral-text;
        margin: 10px;
    }
}

.section--contact-social-icons{
    display: flex;
}

.fa-circle {
    color: $teal;
}

.fa-stack:hover {
    .fa-circle {
        color: $white;
    }
    .fa-stack-1x {
        color: $teal;
    }
}

.fa-stack  {
    margin: 0 5px;
}