// variables

$mont-text: 'Montserrat', sans-serif;
$ral-text: 'Raleway', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(31, 32, 32);
$teal: rgb(27, 188, 155);
$grey: rgb(86, 86, 86);
$lightgrey: rgb(211,211,211);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1200px;
    margin: 0 auto;
}

// base size

html {
    font-size: 62.5%;
}

// general
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border-radius: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// buttons

.button--green-filled {
    color: $white;
    background: $teal;
    font-family: $ral-text;
    border: none;
    border-radius: 0;
    @include font-size-value(18);
    padding: 10px 40px;
    transition: 0.4s;
    &:hover {
        box-shadow: 0 9px 4px -4px lighten($black, 25);
    }
}

// section headings

.section--header-center {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    h4 {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 8px;
    }
}

h3 {
    font-family: $mont-text;
    @include font-size-value(32);
    font-weight: 500;
    color: $black;
    margin: 0;
    letter-spacing: 1.5px;
}

h4 {
    font-family: $mont-text;
    @include font-size-value(20);
    font-weight: 300;
    color: $grey;
    margin-top: 5px;
    margin-bottom: 15px;
}

.section--header-grey-line {
    max-width: 100px;
    height: 1px;
    background: lighten($grey, 30);
    margin: 0 auto;
}

.section--sub-heading {
    font-family: $ral-text;
    @include font-size-value(22);
}

// p settings 

.general-body, input, textarea {
    font-family: $ral-text;
    @include font-size-value(16.8);
    font-weight: 300;
    line-height: 26px;
    color: $grey;
}

// email anti bot protection (:
.anti-bot {
    display:none;
}

// media queries

@media (max-width: 720px) {
    .section--header-center {
        max-width: 600px;
        margin: 2vh auto;
    }
 }