// variables

$Mont-text: 'Montserrat', sans-serif;
$Ral-text: 'Raleway', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(30, 30, 30);
$teal: rgb(27, 188, 155);
$forest: rgb(38, 132, 96);
$grey: rgb(86, 86, 86);
$lighter-grey: rgb(161, 161, 161);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 1900px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper--footer-nav {
    max-width: 1300px;
    margin: 0 auto; 
}

// base size

html {
    font-size: 62.5%;
}

.testing-typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
