header {
    background: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(assets/header--background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1px;
    min-height: calc(100vh - 74px);
}

header h1, header h2, header a {
    margin-left: 35px;
}

header h2, header h1 {
    color: $white;
    margin-bottom: 15px;
    font-family: $mont-text;
}

header {
    h2 {
    @include font-size-value(34);
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}
    h1 {
        @include font-size-value(48);
        margin-top: 0;
        margin-bottom: 40px;
        max-width: 900px;
    }
}

.header--name {
    color: $teal;
    text-transform: uppercase;
}

.header--typed::after {
    color: $white;
	content: '|';
	display: inline;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.header--text-center {
    margin-top: 30vh;
}

.fa-chevron-down {
    color: $white;
}

.header--white-arrow {
    margin-left: 50%;
    margin-top: 22vh;
    display: inline-block;
    text-align: center;
    transform: translateX(-50%);
    img {
    max-width: 45px;
    }
}

.section--header-a:hover {
    box-shadow: 0 9px 4px -4px lighten($black, 10);
}

// media queries

@media (max-width: 1366px) { 
header {
        background-attachment: scroll;
    }
}

@media (max-width: 1080px) { 
    .header--white-arrow {
        margin-top: 16vh;
    }
}

@media (max-width: 980px) { 
.header--white-arrow {
        margin-top: 18vh;
    }
}

@media (max-width: 770px) { 
    header h1 {
        height: 150px;
    }
    .header--text-center {
    margin-top: 17vh;
    }
}

@media (max-width: 430px) { 
    header h1 {
        height: 160px;
        max-width: 330px;
    }
    .header--white-arrow {
        margin-top: 14vh;
    }
    .header--text-center {
    margin-top: 12vh;
    }
}

@media (max-width: 460px) { 
    header h1 {
        height: 190px;
        max-width: 280px;
        @include font-size-value(40)
    }
    .header--white-arrow {
        margin-top: 12vh;
    }
    .header--text-center {
    margin-top: 10.5vh;
    }
     header a {
        display: block;
        max-width: 180px;
        margin: 20px auto;
    }
     header h1, header h2, header a {
        text-align: center;
        margin: 5px auto;
     }
     header h1 {
         max-width: 320px;
     }
}

@media (max-width: 350px) { 
    header h1 {
        height: 190px;
        max-width: 280px;
        @include font-size-value(40);
        margin-top: 20px;
    }
    .header--white-arrow {
        margin-top: 10vh;
    }
    .header--text-center {
    margin-top: 10vh;
    }
     .header--white-arrow {
        // margin-left: 40%;
        margin-top: 5vh;
     }
}
