nav, footer {
    background: rgba($black, 1);
    padding: 1px;
}

nav {
    overflow-x: hidden;
}

.nav--logo {
    width: 30%;
    img {
        max-width: 72px;
        max-height: 72px;
        flex-shrink: 0;
        margin-left: 5px;
    }
}

.nav--list {
    width: 70%;
}

.nav--flex-overall, .nav--flex-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav--flex-overall {
    justify-content: space-between;
}

.nav--flex-list {
    justify-content: space-around;
    padding: 25px 0;
    li a {
        color: $white;
        font-weight: 400;
        font-family: $mont-text;
        @include font-size-value(15);
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 15px;
        transition: 0.4s;
            &:hover {
                border: 1px solid $teal;
                font-weight: 700;
            }
    }
}

// menu toggling for responsive

.nav--responsive-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    user-select: none;
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.nav--responsive-menu input {
    display: block;
    width: 50px;
    height: 45px;
    position: absolute;
    bottom: 1px;
    left: 5px;
    opacity: 0; 
    z-index: 2; 
}
.nav--responsive-menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    bottom: -13px;
    left: 8px;
    background: $white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.nav--responsive-menu span:first-child {
    transform-origin: 0% 0%;
}

.nav--responsive-menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.nav--responsive-menu input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);
    background: $white;
}

.nav--responsive-menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.nav--responsive-menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


.nav--responsive-menu-list--toggle {
    display: none;
    
}

.nav--responsive-menu-list {
    position: fixed;
    max-width: 300px;
    min-height: 65vh;
    margin: -170px 0 0 0;
    padding: 160px 60px 35px 25px;
    right: -40px;
    background: rgba($black, 1);
    list-style-type: none;
    -webkit-font-smoothing: antialiased; 
    // safari will flicker without the above
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.6s ease-in;
}

.nav--responsive-menu input:checked ~ ul {
    transform: scale(1.0, 1.0);
}

.nav--responsive-menu-list--first {
    padding-top: 25px;
}

.nav--responsive-menu-list:last-child {
    padding-bottom: 0;
}

.nav--responsive-menu-list{
    li {
        margin: 35px 15px;
    }
    li a {
        color: $white;
        font-weight: 400;
        font-family: $mont-text;
        @include font-size-value(17);
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 15px 5px;
        transition: 0.4s;
            &:hover {
                border: 1px solid $teal;
                font-weight: 700;
            }
    }
}

@media (max-width: 1120px) {
    .nav--list {
        display: none;
    }
    .nav--responsive-menu {
        display: block;
    }
    .nav--responsive-menu-list {
        min-height: 25vh;
    }
}
