.section--portfolio-background {
    padding-top: 6vh;
    padding-bottom: 6vh;
    background: $white;
}

.section--portfolio-two-col-left, .section--portfolio-two-col-right {
    display: flex; 
    justify-content: space-around;
    margin-bottom: 30px;
}

.section--portfolio-two-col-left {
    flex-wrap: wrap;
    text-align: left;
}

.section--portfolio-two-col-right {
    flex-wrap: wrap-reverse;
    text-align: right;
}

.section--portfolio-image {
    max-width: 550px;
    max-height: 400px;
}

.section--portfolio-headings-in-boxes{
    margin: 30px 0;
}

.section--portfolio-text-buttons {
    max-width: 565px;
    min-height: 400px;
}

.section--portfolio-button {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.section--portfolio-button-margin-right {
    margin-right: 10px;
}

.section--portfolio-bold {
    font-weight: 500;
}

.section--portfolio-text-used {
    margin: 25px 0;
}

// icons in titles of protfolio peices

.section--portfolio-icons-balloon, .section--portfolio-icons-leaf {
    vertical-align: top;
}

.section--portfolio-icons-balloon {
    width: 24px;
}

.section--portfolio-icons-leaf,.section--portfolio-icons-animal {
    width: 31px;
}

.section--portfolio-icons-animal {
    vertical-align: bottom;
}

// media queries

@media (max-width: 1170px) { 
    .section--portfolio-image {
        max-width: 495px;
        img {
            max-width: 90%;
        }
    }
    .section--portfolio-text-buttons {
    max-width: 500px;
    min-height: 400px;
    padding: 15px;
}
}
@media (max-width: 770px) { 
    .section--portfolio-two-col-left, .section--portfolio-two-col-right {
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
}
}

@media (max-width: 720px) { 
    .section--portfolio-image {
        margin-top: 20px;
    }
}

@media (max-width: 480px) { 
  .section--portfolio-two-col-left, .section--portfolio-two-col-right {
      text-align: center;
  }  
  .section--portfolio-buttons {
      a {
          margin-top: 10px;
          min-width: 150px;
      }
      .section--portfolio-button-margin-right {
        margin-right: 0;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}