.section--soft-skills {
    background: lighten($lightgrey, 12);
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.section--soft-skills-boxes-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section--soft-skills-boxes{
    max-width: 520px;
    min-height: 230px;
    margin: 20px;
    i {
        color: $teal;
        @include font-size-value(22);
        transform: rotate(-45deg);
}
    }

.section--soft-skills-boxes-diag {
    border: 1px solid $teal;
    width: 35px;
    height: 35px;
    padding: 4px;
    transform: rotate(45deg);
    display: inline-block;
}

.section--soft-skills-boxes:hover {
    .section--sub-heading {
        color: $teal;
    }
    .section--soft-skills-boxes-diag {
        background: $teal;
        i {
            color: $white;
        }
    }
}

.fa-clock-o {
    padding: 1.5px;
    padding-left: 2px;
}

.fa-lightbulb-o {
    padding-top: 3.5px;
    padding-left: 7px;
    padding-bottom: 4.5px;
}

.fa-users {
    padding-top: 1.1px;
}

@media (max-width: 1149px) {  
    .section--soft-skills-boxes {
        max-width: 470px;
    }
}

@media (max-width: 1045px) {  
    .section--soft-skills-boxes {
        max-width: 400px;
    }
}

@media (max-width: 915px) {  
    .section--soft-skills-boxes {
        max-width: 310px;
    }
}

@media (max-width: 900px) {
    .section--soft-skills-boxes {
        max-width: 270px;
    }
}

@media (max-width: 630px) {
 .section--soft-skills-boxes-flex {
        flex-direction: column;
        align-items: center;
    }
    .section--soft-skills-boxes {
        max-width: 70%;
    }
    .section--soft-skills-boxes-diag {
      margin-left: 43%;
    }
    .section--soft-skills-sub-headings {
        text-align: center;
    }
}