.section--tech {
    background: darken($white, 2);
    padding: 1px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.section--tech-skills-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto;
    div {
        margin: 30px 15px;
    }
}

.devicon--border {
    border: 1px solid $teal;
    color: $teal;
    padding: 15px;
    @include font-size-value(90);
    &:hover {
        color: $white;
        background: $teal;
    }
}