.section--tech {
    background: lighten($lightgrey, 12);
    padding: 1px;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.section--tech-skills-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto;
    div {
        margin: 10px;
    }
    p {
        text-align: center;
        font-weight: 400;
    }
}

.devicon--border {
    border: 1px solid $teal;
    color: $teal;
    padding: 15px;
    @include font-size-value(83);
    transition: 0.4s;
    &:hover {
        color: $white;
        background: $teal;
    }
}

.section--techs-skills-hover {
    p {
    transition: 0.4s;
    font-family: $mont-text;
    margin-top: 23px;
    }
}

.section--techs-skills-hover:hover {
    p {
        color: $teal;
        font-weight: 500;
    }
}
