article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper--max {
  max-width: 2500px;
  margin: 0 auto; }

.wrapper--inner {
  max-width: 1200px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  border-radius: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.button--green-filled {
  color: white;
  background: #1bbc9b;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 0;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 10px 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .button--green-filled:hover {
    -webkit-box-shadow: 0 9px 4px -4px #5e6161;
            box-shadow: 0 9px 4px -4px #5e6161; }

.section--header-center {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px; }
  .section--header-center h4 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 500;
  color: #1f2020;
  margin: 0;
  letter-spacing: 1.5px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 300;
  color: #565656;
  margin-top: 5px;
  margin-bottom: 15px; }

.section--header-grey-line {
  max-width: 100px;
  height: 1px;
  background: #a3a3a3;
  margin: 0 auto; }

.section--sub-heading {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-size: 2.2rem; }

.general-body, input, textarea {
  font-family: "Raleway", sans-serif;
  font-size: 16.8px;
  font-size: 1.68rem;
  font-weight: 300;
  line-height: 26px;
  color: #565656; }

.anti-bot {
  display: none; }

@media (max-width: 720px) {
  .section--header-center {
    max-width: 600px;
    margin: 2vh auto; } }

nav, footer {
  background: #1f2020;
  padding: 1px; }

nav {
  overflow-x: hidden; }

.nav--logo {
  width: 30%; }
  .nav--logo img {
    max-width: 72px;
    max-height: 72px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 5px; }

.nav--list {
  width: 70%; }

.nav--flex-overall, .nav--flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav--flex-overall {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav--flex-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 0; }
  .nav--flex-list li a {
    color: white;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .nav--flex-list li a:hover {
      border: 1px solid #1bbc9b;
      font-weight: 700; }

.nav--responsive-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50px;
  height: 50px; }

.nav--responsive-menu input {
  display: block;
  width: 50px;
  height: 45px;
  position: absolute;
  bottom: 1px;
  left: 5px;
  opacity: 0;
  z-index: 2; }

.nav--responsive-menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  bottom: -13px;
  left: 8px;
  background: white;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.nav--responsive-menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

.nav--responsive-menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

.nav--responsive-menu input:checked ~ span {
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: white; }

.nav--responsive-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

.nav--responsive-menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

.nav--responsive-menu-list--toggle {
  display: none; }

.nav--responsive-menu-list {
  position: fixed;
  max-width: 300px;
  min-height: 65vh;
  margin: -170px 0 0 0;
  padding: 160px 60px 35px 25px;
  right: -40px;
  background: #1f2020;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.6s ease-in;
  transition: -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in; }

.nav--responsive-menu input:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); }

.nav--responsive-menu-list--first {
  padding-top: 25px; }

.nav--responsive-menu-list:last-child {
  padding-bottom: 0; }

.nav--responsive-menu-list li {
  margin: 35px 15px; }

.nav--responsive-menu-list li a {
  color: white;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 15px 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .nav--responsive-menu-list li a:hover {
    border: 1px solid #1bbc9b;
    font-weight: 700; }

@media (max-width: 1120px) {
  .nav--list {
    display: none; }
  .nav--responsive-menu {
    display: block; }
  .nav--responsive-menu-list {
    min-height: 25vh; } }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 32, 32, 0.6)), to(rgba(31, 32, 32, 0.6))), url(assets/header--background.jpg);
  background: linear-gradient(rgba(31, 32, 32, 0.6), rgba(31, 32, 32, 0.6)), url(assets/header--background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1px;
  min-height: calc(100vh - 74px); }

header h1, header h2, header a {
  margin-left: 35px; }

header h2, header h1 {
  color: white;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif; }

header h2 {
  font-size: 36px;
  font-size: 3.6rem;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 1.5px; }

header h1 {
  font-size: 49px;
  font-size: 4.9rem;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 900px; }

.header--name {
  color: #1bbc9b;
  text-transform: uppercase; }

.header--typed::after {
  color: white;
  content: '|';
  display: inline;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header--text-center {
  margin-top: 30vh; }

.fa-chevron-down {
  color: white; }

.header--white-arrow {
  margin-left: 50%;
  margin-top: 22vh;
  display: inline-block;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .header--white-arrow img {
    max-width: 45px; }

.section--header-a:hover {
  -webkit-box-shadow: 0 9px 4px -4px #383a3a;
          box-shadow: 0 9px 4px -4px #383a3a; }

.section-about-me--developer-title {
  font-size: 20px;
  font-size: 2rem; }

@media (max-width: 1366px) {
  header {
    background-attachment: scroll; } }

@media (max-width: 1080px) {
  .header--white-arrow {
    margin-top: 16vh; } }

@media (max-width: 980px) {
  .header--white-arrow {
    margin-top: 18vh; } }

@media (max-width: 770px) {
  header h1 {
    height: 150px; }
  .header--text-center {
    margin-top: 17vh; } }

@media (max-width: 430px) {
  header h1 {
    height: 160px;
    max-width: 330px; }
  .header--white-arrow {
    margin-top: 14vh; }
  .header--text-center {
    margin-top: 12vh; } }

@media (max-width: 460px) {
  header h1 {
    height: 190px;
    max-width: 280px;
    font-size: 40px;
    font-size: 4rem; }
  .header--white-arrow {
    margin-top: 12vh; }
  .header--text-center {
    margin-top: 10.5vh; }
  header a {
    display: block;
    max-width: 180px;
    margin: 20px auto; }
  header h1, header h2, header a {
    text-align: center;
    margin: 5px auto; }
  header h1 {
    max-width: 320px; } }

@media (max-width: 350px) {
  header h1 {
    height: 190px;
    max-width: 280px;
    font-size: 40px;
    font-size: 4rem;
    margin-top: 20px; }
  .header--white-arrow {
    margin-top: 10vh; }
  .header--text-center {
    margin-top: 10vh; }
  .header--white-arrow {
    margin-top: 5vh; } }

.section--about-me {
  background: white;
  padding-top: 6vh;
  padding-bottom: 6vh; }

.section--about-me-two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.section--about-me-portrait {
  max-width: 480px; }
  .section--about-me-portrait img {
    max-width: 410px;
    max-height: 480px; }

.section-about-me--text {
  max-width: 720px;
  padding-top: 25px; }
  .section-about-me--text .section--sub-heading {
    font-weight: 600; }
  .section-about-me--text .temporary {
    margin-bottom: 30px; }

.general-body span {
  font-weight: 500; }

@media (max-width: 1206px) {
  .section--about-me-portrait {
    margin-left: 25px; }
    .section--about-me-portrait img {
      max-width: 380px; }
  .section-about-me--text {
    max-width: 60%;
    margin-right: 25px;
    margin-left: 20px; } }

@media (max-width: 1114px) {
  .section-about-me--text {
    max-width: 80%;
    text-align: center; }
  .section--about-me-portrait {
    margin-top: 10px; } }

@media (max-width: 1165px) {
  .section-about-me--text {
    padding-top: 0; } }

@media (max-width: 720px) {
  .section--about-me-portrait, .section-about-me--text {
    margin: 0 auto; } }

@media (max-width: 619px) {
  .section--about-me-portrait img {
    max-width: 300px; } }

@media (max-width: 420px) {
  .section--about-me-portrait img {
    max-width: 250px; } }

.section--tech {
  background: #f2f2f2;
  padding: 1px;
  padding-top: 6vh;
  padding-bottom: 6vh; }

.section--tech-skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 850px;
  margin: 0 auto; }
  .section--tech-skills-icons div {
    margin: 10px; }
  .section--tech-skills-icons p {
    text-align: center;
    font-weight: 400; }

.devicon--border {
  border: 1px solid #1bbc9b;
  color: #1bbc9b;
  padding: 15px;
  font-size: 83px;
  font-size: 8.3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .devicon--border:hover {
    color: white;
    background: #1bbc9b; }

.section--techs-skills-hover p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Montserrat", sans-serif;
  margin-top: 23px; }

.section--techs-skills-hover:hover p {
  color: #1bbc9b;
  font-weight: 500; }

.section--portfolio-background {
  padding-top: 6vh;
  padding-bottom: 6vh;
  background: white; }

.section--portfolio-two-col-left, .section--portfolio-two-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px; }

.section--portfolio-two-col-left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left; }

.section--portfolio-two-col-right {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  text-align: right; }

.section--portfolio-image {
  max-width: 550px;
  max-height: 400px; }

.section--portfolio-headings-in-boxes {
  margin-top: 5px;
  margin-bottom: 3px; }

.section--sub-heading-coding-type {
  font-weight: 600;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 0; }

.section--portfolio-text-buttons {
  max-width: 565px;
  min-height: 400px; }

.section--portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px; }

.section--portfolio-button-margin-right {
  margin-right: 10px; }

.section--portfolio-bold {
  font-weight: 500; }

.section--portfolio-text-used {
  margin: 25px 0; }

.section--portfolio-icons-balloon, .section--portfolio-icons-leaf {
  vertical-align: top; }

.section--portfolio-icons-balloon {
  width: 24px; }

.section--portfolio-icons-leaf, .section--portfolio-icons-animal {
  width: 31px; }

.section--portfolio-icons-animal {
  vertical-align: bottom; }

@media (max-width: 1170px) {
  .section--portfolio-image {
    max-width: 495px; }
    .section--portfolio-image img {
      max-width: 90%; }
  .section--portfolio-text-buttons {
    max-width: 500px;
    min-height: 400px;
    padding: 15px; } }

@media (max-width: 770px) {
  .section--portfolio-two-col-left, .section--portfolio-two-col-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
    margin-left: 20px; } }

@media (max-width: 720px) {
  .section--portfolio-image {
    margin-top: 20px; } }

@media (max-width: 480px) {
  .section--portfolio-two-col-left, .section--portfolio-two-col-right {
    text-align: center; }
  .section--portfolio-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .section--portfolio-buttons a {
      margin-top: 10px;
      min-width: 150px; }
    .section--portfolio-buttons .section--portfolio-button-margin-right {
      margin-right: 0; } }

.section--soft-skills {
  background: #f2f2f2;
  padding-top: 6vh;
  padding-bottom: 6vh; }

.section--soft-skills-boxes-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.section--soft-skills-boxes {
  max-width: 520px;
  min-height: 230px;
  margin: 20px; }
  .section--soft-skills-boxes i {
    color: #1bbc9b;
    font-size: 22px;
    font-size: 2.2rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.section--soft-skills-boxes-diag {
  border: 1px solid #1bbc9b;
  width: 35px;
  height: 35px;
  padding: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block; }

.section--soft-skills-boxes .section--soft-skills-boxes-diag i {
  color: #1bbc9b; }

.fa-clock-o {
  padding: 1.5px;
  padding-left: 2px; }

.fa-lightbulb-o {
  padding-top: 3.5px;
  padding-left: 7px;
  padding-bottom: 4.5px; }

.fa-users {
  padding-top: 1.1px; }

@media (max-width: 1149px) {
  .section--soft-skills-boxes {
    max-width: 470px; } }

@media (max-width: 1045px) {
  .section--soft-skills-boxes {
    max-width: 400px; } }

@media (max-width: 915px) {
  .section--soft-skills-boxes {
    max-width: 310px; } }

@media (max-width: 900px) {
  .section--soft-skills-boxes {
    max-width: 270px; } }

@media (max-width: 630px) {
  .section--soft-skills-boxes-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section--soft-skills-boxes {
    max-width: 70%; }
  .section--soft-skills-boxes-diag {
    margin-left: 43%; }
  .section--soft-skills-sub-headings {
    text-align: center; } }

.section--contact-me {
  padding-top: 6vh;
  padding-bottom: 6vh; }

.section--contact-form, .section--contact-form-name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .section--contact-form form, .section--contact-form-name-email form {
    width: 85%; }

input, textarea {
  padding-left: 20px;
  border: 1px solid #e6e6e6; }

.section--contact-form-top {
  width: 50%;
  height: 40px; }

.form--name {
  margin-right: 20px; }

button {
  margin-top: 20px; }

textarea {
  overflow: hidden;
  resize: none;
  min-width: 100%;
  padding-bottom: 200px;
  margin-top: 20px;
  padding-top: 20px;
  overflow-y: scroll; }

.section--contact-form img {
  max-width: 17px; }

.section--contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px; }
  .section--contact-social p {
    color: #1bbc9b;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    margin: 10px; }

.section--contact-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section--contact-social-icons a {
    max-width: 6px; }

.fa-circle {
  color: #1bbc9b; }

.fa-stack {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }

.fa-circle, .fa-stack-1x {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }

.fa-stack:hover .fa-circle {
  color: white; }

.fa-stack:hover .fa-stack-1x {
  color: #1bbc9b; }

.fa-stack {
  margin: 0 5px; }

@media (max-width: 770px) {
  .section--contact-social {
    margin-top: 30px; } }

@media (max-width: 720px) {
  .section--contact-form-name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form--name, .form--email {
    width: 292px;
    margin: 10px auto; }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section--contact-form button {
    width: 225px;
    height: 41px;
    margin: 20px auto; }
  textarea {
    min-height: 260px;
    width: 315px; } }

@media (max-width: 440px) {
  .section--contact-form-name-email, textarea {
    margin: 0 auto; }
  .form--name, .form--email {
    width: 240px; }
  textarea {
    max-width: 395px; } }

@media (max-width: 320px) {
  .form--name, .form--email, textarea {
    margin: 5px 10px;
    overflow-x: hidden; }
  textarea {
    max-width: 292px; } }

footer {
  padding: 10px 0; }

.section--footer, .section--footer-side-by-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .section--footer p, .section--footer a, .section--footer-side-by-side p, .section--footer-side-by-side a {
    margin: 0;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .section--footer a:hover, .section--footer-side-by-side a:hover {
    font-weight: 500; }

.wrapper--footer {
  width: 320px;
  margin: 0 auto; }
